/* Copyright 2018 Seedproof. All Rights Reserved */
/* https://seedproof.com */


/*	###########################################################
	COLORS
	primary: #234199 rgba(35,65,153,1.00)
	dark:  
	light: 
	
	FONTS
	primary: quicksand with edits
	default: helvetica nue, arial, helvetica
	
################################################################ */



/* DEFAULTS ********************** */

html {font-size:10px;}
html, body {
	text-align:center;
	padding:0;
	margin:0;
	width:100%;
	overflow-x:hidden;
	/*background: #f8f8f9*/
	background-color: #F5F5F5;	
}

body {
	border-bottom:6px solid #234199;}


h1 {
	font-size:		2.5rem; 
	font-weight:300;
}
h2 {
	font-size:		1.8em; 
	font-weight:300;
}
h3 {
	font-size:		1.5em; 
	font-weight:700;
}
h4 {
	font-size:		1.4rem; 
	font-weight:300;
}
h5 {
	font-size:		1.3rem; 
	font-weight:500;
}
p {
}

input.voteUp, input.voteDown {
	border:0;
	margin:0;
	padding:0;
	
	border-radius:14px;
}




/* COLORS ******************************************** */

.prime {
	color:#FFFFFF !important;
	background-color:#234199 !important;
}
.bg {
	color:#212121 !important;
	background-color:#F5F5F5 !important;
}
.lt {
	color:#212121 !important;
	background-color:#FFFFFF !important;
}
.brdr {
	border:1px solid #E0E0E0 !important;
}
/* ******************************************** */



/* SPECIOAL CLASSES ******************************************** */
.clearAll {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}
.hidden { display: none; visibility:hidden; }
hr {margin-top: 30px; margin-bottom: 30px; border-color: #9E9E9E; margin-left:5%; margin-right:5%;}

.heading_sub {font-weight: bold; font-size:35px;}
.heading_big {font-weight: 400; font-size:50px;}

.center {text-align:center;}

.round_01 {
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 1px; 

	/* Firefox 1-3.6 */
	-moz-border-radius: 1px; 

	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 1px; 
}
.round_025 {
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 2.5px; 

	/* Firefox 1-3.6 */
	-moz-border-radius: 2.5px; 

	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 2.5px; 
}

.round_10 {
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 10px; 

	/* Firefox 1-3.6 */
	-moz-border-radius: 10px; 

	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 10px; 
}

.shadowBtn_rect {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.shadowBtn_circle {
	-webkit-box-shadow: 2.5px 2.5px 12.5px .2px rgba(0, 0, 0, 0.6);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    2.5px 2.5px 12.5px .2px rgba(0, 0, 0, 0.6);  /* Firefox 3.5 - 3.6 */
	box-shadow:         2px 2px 12px 1px rgba(0, 0, 0, 0.6);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.card_text {
	background-color: #ffffff;
	color: #212121;
	display:block;
	padding:20px;
	max-width:500px;
	margin:20px auto;
}
.card_text-about {
	max-width:600px;
}
.card_border {
	border: 1px solid #F5F5F5;
	-webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    3px 3px 3px 1px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
	box-shadow:         3px 3px 3px 1px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
.card_border-about {
	border: 1px solid #F5F5F5;
	-webkit-box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    1px 2px 20px 2px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
	box-shadow:         1px 2px 20px 2px rgba(0, 0, 0, 0.2);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
.wrapper {
	padding-top:30px;
	padding-bottom:30px;
}

.quote {
	display:block;
	width:92%;
	padding-left: 60px;
	font-weight:500;
	font-size:1.2em;
	line-height:1.2em;
	text-align:left;
	background-image:url(https://seedproof.com/images/icons/quote.png);
    background-size:40px;
	background-repeat:no-repeat;
	background-position: left top; 
	min-height:40px;
	margin:10px auto;
}
#focus {
	
	max-width:400px;
	margin:0 auto;
	padding:10px;
	padding-top:100px;
	height:100vh;
	text-align:left;
}
#focus_wrapper {
	background-color:#F5F5F5;
}


/* BOOTSTRAP ******************************************** */
.navbar, .navbar-default {
	margin-bottom: 0;
}
.navbar-default {
	background: none;
	border: none;
}
#page-container .navbar-brand {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 40px;
    height: 60px;
}
#navbar {
	background: #ffffff;
	color:#333333;
}
#navbar .navbar {min-height:60px;}


#loading_wrapper {
	display: block;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	margin:0;
	background-color: rgba(0,0,0,0.9);
	color:white;
	text-align:center;
	z-index:110;
}
#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-animation: rotation 1.5s infinite linear;
}
#loading_inline {
	margin-top:-5px;
	margin-right:20px;
	height:30px;
	vertical-align:text-middle;
	-webkit-animation: rotation 1.5s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


/* YOU ******************************************** */






/* MESSAGES ***************************************** */

#msg {
/* put it on the bottom for desktop */
width:100%;
padding:1% 5%;
z-index:1;
position: fixed;
bottom:0;
left: 0;
font-size: 16px;
font-weight: bold;
text-align: center;
min-height: 52px;
}

.negative {
	color: #ffffff; 
	background-color:rgba(223, 51, 32,1);
	
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(223, 51, 32,1) , rgba(223, 51, 32,.7)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(223, 51, 32,1), rgba(223, 51, 32,.7)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(223, 51, 32,1), rgba(223, 51, 32,.7)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(223, 51, 32,1) , rgba(223, 51, 32,.7)); /* Standard syntax */
  
} /*border-bottom: 1px solid rgba(223, 51, 32,0.6); 0.2 #df3320*/
.neutral {color: #333; background-color:rgba(149, 149, 149,1);} /*border: 1px solid #959595;*/
.positive {color: #ffffff; 

	background-color:rgba(51, 153, 0, 1);
	
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(51, 153, 0, 1) , rgba(51, 153, 0, .7)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(51, 153, 0, 1), rgba(51, 153, 0, .7)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(51, 153, 0, 1), rgba(51, 153, 0, .7)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(51, 153, 0, 1) , rgba(51, 153, 0, .7)); /* Standard syntax */

} /*border: 1px solid rgba(51, 153, 0, 0.6); #339900*/


/* FOOTER ***************************************** */
#footer {
    background-color: #F5F5F5;
    color: #212121;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
a#footer {color: #333333;}
a#footer:hover {color: #29b1de;}
#footer .list-group-item {
	padding: 4px 10px;
	border: none;
	background: inherit;
	color: #333333;
}
#footer .list-group-item:hover {color: #29b1de;}
#footer-menu {
	text-align: left;
}
#footer h4 {
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 10px;
}
#footer-menu div {padding-left:10px;}
#footer .col-left {text-align: left;}
#footer .col-right {text-align: right;}
.bottom-menu a {text-decoration: underline; padding-right: 10px;}


/* SOCIAL MEDIA ***************************************** */
.footer-link {
width: 36px; height: 36px;
margin: 0 6px 0 6px;
display: inline-block;
}
.footer-link a {display: block; height: 100%; width: 100%;}
.email {
background-image:url(https://seedproof.com/images/buttons/email.png);
background-repeat:no-repeat;
background-size: contain;
}
.power {
background-image:url(https://seedproof.com/images/buttons/power.png);
background-repeat:no-repeat;
background-size: contain;
}
.user {
background-image:url(https://seedproof.com/images/buttons/user.png);
background-repeat:no-repeat;
background-size: contain;
}
.facebook {
background-image:url(https://seedproof.com/images/social-media/facebook.png);
background-repeat:no-repeat;
background-size: contain;
}
.linkedin {
background-image:url(https://seedproof.com/images/social-media/linkedin.png);
background-repeat:no-repeat;
background-size: auto 36px;

}
.twitter {
background-image:url(https://seedproof.com/images/social-media/twitter.png);
background-repeat:no-repeat;
background-size: contain;
}
.top {
background-image:url(https://seedproof.com/images/buttons/top.png);
background-repeat:no-repeat;
background-size: contain;
}
.email:hover {
background-image:url(https://seedproof.com/images/buttons/email-hover.png);
background-repeat:no-repeat;
cursor: pointer;
}
.power:hover {
background-image:url(https://seedproof.com/images/buttons/power-hover.png);
background-repeat:no-repeat;
cursor: pointer;
}
.user:hover {
background-image:url(https://seedproof.com/images/buttons/user-hover.png);
background-repeat:no-repeat;
cursor: pointer;
}
.linkedin:hover, .facebook:hover, .twitter:hover {cursor: pointer;}

.top:hover {
background-image:url(https://seedproof.com/images/buttons/top-hover.png);
background-repeat:no-repeat;
cursor: pointer;
}







.container_section {
	padding:80px 40px;
	padding-left:40px !important;
	padding-right:40px !important;
	margin: auto;
	margin-top:5px;	
}


.btn-clean {
	background:none;
	border:1px solid #ffffff !important;
	color:#ffffff;
	font-weight:bold;
	margin:10px;
}
.btn-clean:hover {
	color:#ffffff !important;
}



/* ADD BUTTON */

#add {
	display:	block;
	position: 	fixed;
	
	width:	60px;
	height:	60px;
	
	border: 	1px solid #234199;
	padding:	0;
	margin:		0;
	
	bottom:	20px; /*20px;*/
	right:	20px;
	
	-webkit-border-radius: 	30px; 
	-moz-border-radius:	 	30px; 
	border-radius: 			30px; 
	
	background-image:url(https://seedproof.com/images/buttons/add.png);
    background-size:60px;
	background-repeat:no-repeat;
	background-position: center center; 

	-webkit-box-shadow: 2.5px 2.5px 12.5px .2px rgba(0, 0, 0, 0.6);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    2.5px 2.5px 12.5px .2px rgba(0, 0, 0, 0.6);  /* Firefox 3.5 - 3.6 */
	box-shadow:         2px 2px 12px 1px rgba(0, 0, 0, 0.6);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	
	z-index:9000;
	
}
#addThis {
	display: block;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	margin:0;
	background-color: rgba(0,0,0,0.8);
	color:white;
	text-align:right;
	z-index:14000;
}
#addThis a, #addThis a:hover {
	color:#FFFFFF; 
	text-decoration: none;
}
#addThis a {
	display:block;
	margin:0;
	position:absolute;
	right:20px;
	font-weight:300;
	text-align:right;
	height:60px;
	padding-top:15px;
	padding-right:80px;
	
}

#addNothing {
	display: block;
	position:fixed;
	width:60px;
	/*
	-webkit-border-radius: 	25px; 
	-moz-border-radius:	 	25px; 
	border-radius: 			25px; 
	*/
	top:20px;
	right:20px;
	height:60px;
	margin:0;
	z-index:15000;
	
	font-size:80px;
	padding:0;
		
	background: url(https://seedproof.com/images/icons/close_F44336.png);
	background-size: 50px;
	background-repeat:no-repeat;
	background-position: right center; 
}
#addNothing:hover {
	cursor:pointer;
}
#add-new-problem {	
	font-weight:700;
	font-size:1.2em;
	bottom:160px;
	background: url(https://seedproof.com/images/icons/new-problem-round-f5f5f5.png);
	background-size: 60px;
	background-repeat:no-repeat;
	background-position: right center; 
}
#add-new-idea {
	font-weight:700;
	font-size:1.6em;
	bottom:70px;
	background: url(https://seedproof.com/images/icons/new-idea-round-234199.png);
	background-size: 60px;
	background-repeat:no-repeat;
	background-position: right center; 
}



.highlight {
    background-color: rgba(0,0,0,0.65);
}
.btn-outline {
	color:#ffffff;
	border-color:#ffffff;
	background-color:none;
}
.btn-outline:hover {
	color:#ffffff;
	border-color:#ffffff;
    background-color: rgba(0,0,0,0.15);
}
.btn-outline-inverse {
	color:#212121;
	border-color:#212121;
	background-color:none;
}
.btn-outline-inverse:hover {
	color:#212121;
	border-color:#212121;
    background-color: rgba(255,255,255,0.15);
}

.ctaBanner {
	/*background: linear-gradient(-15deg,#234199,#961276);*/
	background:#234199;
	margin:20px 0 0 0;
	width:100%;
	padding:30px 60px;
	color:#ffffff;
	text-align:center;
	
}
.feature {
	/*overflow:hidden;
	
	background: linear-gradient(-15deg,#234199,#961276);
	background: linear-gradient(-15deg,#961276,#234199);
	background-size: 6px 100%;
	background-repeat:no-repeat;
	background-position: left center; 
	*/
	
}
.feature .card_name {
	color:#234199;
}
.how_explainer {
	overflow:hidden;
	padding-bottom:90px;
	background: url(https://seedproof.com/images/examples/how_sidebar_9E9E9E.png);
	background-size: 90%;
	background-repeat:no-repeat;
	background-position: left bottom; 
	
}
#navMore a {
	z-index:11000;
}

#page-container .btnMain {
	height:40px;
	margin:10px 5px;
	text-align:center; 
	text-transform:uppercase;
	font-weight:700;
	font-size:12px;
	line-height:40px;
	padding:0;
	padding-left:20px;
	padding-right:20px;
	border:1px solid rgba(0,0,0,0);
	background:none;
	color:#212121;
	border-radius:2.5px;
}
#page-container .btnPrime {
	background-color: #234199;
	color:#FFF;
	border:1px solid #234199;
}
#page-container .btnPrime:hover {
	background-color: rgba(35,65,153,0.90)
}
#page-container .btnOutline {
	color:#234199;
	border: 1px solid #234199;
}
#page-container .btnOutline:hover {
	background-color: rgba(35,65,153,0.10)
}
#page-container .btnAnchor {
	display:block;
	text-transform:capitalize;
	font-weight:500;
	font-size:13px;
	padding:0 5px;
}
#page-container .btnAnchor:hover {
	color:#234199;
	background-color: rgba(35,65,153,0.10);
}

.addBottom {
	bottom:171px !important;
}
.btn-light {
	background-color:#ccc;
	color:#212121;
	font-weight:700;
}
.btn-text {
	display:block;
	color:#234199;
	font-weight:800;
	text-align:left;
	margin:0;
	padding:10px 20px 10px 0;
	font-size:16px;
	line-height:16px;
}
.btn-text:hover {
	color:#234199;
	text-decoration:none;
	background-image: url(https://seedproof.com/images/icons/go-prime.svg);
	background-size: 16px;
	background-repeat:no-repeat;
	background-position: right center; 
}
#waiting {
	margin:0;
	background-color:rgba(0,0,0,0.3);
	color:#FFF;
	position:fixed;
	top:0;
	left:0;
	z-index:11000;
	width:100%;
	height:100vh;
	line-height:100vh;
	text-align:center;
	font-size:22px;
	font-weight:800;
}

.block-header {
	background-color:#C5CAE9;
}