.block {			
	max-width:1200px;
	margin:10px auto;
	padding:20px 10px;
	text-align: left;
	color: #212121;
}
.block span {
	font-style: italic;
}
.bold {font-weight:700 !important;}
.feature {
	background-color: rgba(35,65,153,0.3);
}
.prime-color { color:#234199 !important;}
/*
.problem {
	background-color: #FFCDD2;
}
.idea {
	background-color: #C8E6C9;
}	
*/
.idea:hover {
	cursor:pointer;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
}
.product {
	background-color: #BBDEFB;
}
.section_header {
	margin:30px 0 10px 0;
	width:100%;
}
.section_header h3 {
	display:block;
	max-width:1200px;
	margin:auto;
	text-align:left;	
	padding-left:10px;
	color: #234199;
}
.card_name {
	/*font-weight:300;
	font-size: 1.5em;*/
	font-weight:800;
	font-size: 1.85rem; /*2.0 on 2019-02-07*/
}
.card_idea {
	/*font-weight:700;
	font-size: 0.8em;*/
	font-weight:300;
	/*font-size: 1.4rem;*/
	font-size: 1.3rem;
}
.card_detail {
	font-weight:500;
	font-size: 1.15rem;
	margin-top:10px;
	margin-bottom:10px;
}
.card_more {
	height:16px;
	line-height:16px;
	font-size:14px;
	color:#424242;
}
.card_problem {
	font-weight:300;
	font-size: 0.75em;
	font-weight:300;
	font-size: 1.2rem;
	color:#9E9E9E;
}
.viewable .card_problem {
	margin-top:10px;
}
.card_profile-spacer {
	/*margin-left:48px;*/
}
.card_profile {		
	border:0;
	padding-left:48px;
	position:relative;
	margin-right:64px;
}
.card_profile-pic {
	display:block;
	text-decoration:none;
	/*background-image:url();*/
    /*background-size: 40px 40px;*/
    background-size: cover;
	background-repeat:no-repeat;
	background-position: left center;
		
	border:0;
	border-radius:20px;
	width:40px;
	height:40px;
	padding:0;
	
	position:absolute;
	left:-6px;
	top:4px;
}
.card_profile_inline {
	
	display:inline-block;
	
	height:36px;
	width:36px;
	padding:0;
	border:0;
	border-radius:2px;
	/*background-image:url();*/
    background-size: 36px 36px;
	background-repeat:no-repeat;
	background-position: center center;
		
	border:0;
}
.card_profile_right {
	
	display:block;
	
	height:50px;
	width:50px;
	padding:0;
	position:absolute;
	top:10px;
	right:0px;
	border:0;
	border-radius:2px;
	
	/*background-image:url();*/
    background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
		
}
.card_problem a {
	font-weight:300;
	text-decoration:underline;
	margin-left:20px;
	font-size: 0.75em;
	color:#9E9E9E;
}
.card_problem a:hover {
	color:#234199;
}
.card_name, .card_idea, .card_problem {
	margin-right:64px;
}
.card_profile .card_name, .card_profile .card_idea, .card_profile .card_problem {
	margin-right:0;
}
.test1 {
	background: linear-gradient(#FFCDD2 , #C8E6C9);
}
.test2 {
	background: linear-gradient(to right, #C8E6C9, #FFCDD2);
}

.up {
	color: #4CAF50;
}
.down {
	color: #F44336;
}



.banner {
	border-radius:2.5px;
	color:#ffffff;
	font-weight:700;
	font-size:2.2rem;
}
.banner div {
    font-weight: 300;
    font-size: 0.70em;
	line-height: 1.40em;
    color: #9E9E9E;
}




#signupBanner {
	
	background-image:url(https://seedproof.com/images/bgs/signup_02.jpg);
    background-size: 1140px;
	background-repeat:no-repeat;
	background-position: center bottom; 
	
	height:380px;
}
#signupBanner:hover, #supportBanner {
	cursor:pointer;
}


/* VOTING ////////////////////////////////////// */



.voter {
	float:right;
	margin:0;
	margin-left:20px;
	height:100%;
	width:64px;
	vertical-align:top;
	padding:2px;
	border-radius:2.5px;
	text-align:right;
}
.voteUp, .voteDown {
	width:28px;
	height:28px;
	margin:10px 0 0 0 !important;	
	margin-left:36px !important;
	padding:0 !important;
	border-radius:2.5px;
	background:none;
}
.voteUp {
	vertical-align:top;
	/*background-image:url(https://seedproof.com/images/icons/upVote.png); */
	background-image:url(https://seedproof.com/images/engage/upvote.svg);
}
.voteDown {
	vertical-align:bottom;
	/*background-image:url(https://seedproof.com/images/icons/downVote.png); */
	background-image:url(https://seedproof.com/images/engage/downvote.svg);
}
.voteUp:hover {
	cursor:pointer;
	/*background-image:url(https://seedproof.com/images/icons/upVote_hover.png); */
	background-color: #4caf50;
}
.voteDown:hover {
	cursor:pointer;
	/*background-image:url(https://seedproof.com/images/icons/downVote_hover.png); */
	background-color: #f44336;
}
.votedUp {
	/*background-image:url(https://seedproof.com/images/icons/upVote_after.png); */
	background-image:url(https://seedproof.com/images/engage/upvoteB.svg);
}
.votedDown {
	/*background-image:url(https://seedproof.com/images/icons/downVote_after.png); */
	background-image:url(https://seedproof.com/images/engage/downvoteB.svg);
}
.voteUp, .voteDown {
    background-size: 28px 28px;
	background-repeat:no-repeat;
	background-position: right center; 
}
.votesUp, .votesDown, .votesUp_lite, .votesDown_lite  {
	width:64px;
	text-align:left;
	color:#ffffff;
	margin-left:0px !important;
	padding-left:10px !important;
	padding-top:3px;
	font-size:14px;
}
.votesUp {
	background-color:#4CAF50;
}
.votesDown {
	background-color:#F44336;
}
.votesUp_lite {
	/*background-color:rgba(76,175,80,0.15);*/
	background-color:rgba(0,0,0,0.07);
	color:#212121;
}
.votesDown_lite {
	/*background-color:rgba(244,67,54,0.15);*/
	background-color:rgba(0,0,0,0.07);
	color:#212121;
}


/* end - VOTING ////////////////////////////////////// */



#homeTab {
	/*background-image:url(https://seedproof.com/images/logo_graphic.png);*/
	background-image:url(https://seedproof.com/images/icons/home.png);
}
#ideaTab {
	background-image:url(https://seedproof.com/images/icons/idea.png);
}
#productTab {
	background-image:url(https://seedproof.com/images/icons/product.png);
}
#problemTab {
	background-image:url(https://seedproof.com/images/icons/problem.png);
	/*background-image:url(https://seedproof.com/images/icons/problem.svg);*/
}
#youTab {
	background-image:url(https://seedproof.com/images/icons/you.png);
}
#ycTab {
	background-image:url(https://seedproof.com/images/icons/yc.png);
}
#pitchTab {
	background-image:url(https://seedproof.com/images/icons/mic.png);
}
#investorTab {
	background-image:url(https://seedproof.com/images/icons/list.png);
}
#makerTab {
	background-image:url(https://seedproof.com/images/icons/users.png);
}
#toolTab {
	background-image:url(https://seedproof.com/images/icons/tools.png);
}
#dashboardTab {
	background-image:url(https://seedproof.com/images/icons/dashboard.png);
}
/* pre 8/7/2018
#sideLeft .feedMenu {
	display:block;
	
    background-size: 32px;
	background-repeat:no-repeat;
	background-position: 10px center; 
	
	height:65px;
	margin-bottom:0;
	padding-left: 65px;
	color:#212121;
	font-weight:500;
	text-align:left;
	font-size:20px;
	line-height:65px;
	
	border:1px solid rgba(0, 0, 0, 0);
}
*/
#sideLeft .feedMenu {
    display: block;
    text-align: left;
	
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: left 10px center;
	
    padding-left: 45px;
    height: 45px;
    line-height: 49px;
    margin-bottom: 0;
	
    color: #212121;
    font-weight: 500;
    font-size: 18px;
}

#sideLeft #homeTab, #sideLeft #ideaTab, #sideLeft #productTab, #sideLeft #problemTab, #sideLeft #ycTab, #sideLeft #investorTab, #sideLeft #pitchTab {
	/*border-bottom:1px solid #e8e8e8;*/
}
#sideLeft #dashboardTab {
	/*background-color: #F5F5F5;*/
}
#sideLeft .feedMenu:active {
	border:none;
	-webkit-box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 4px 8px 1px rgba(0, 0, 0, 0.1);  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 4px 8px 1px rgba(0, 0, 0, 0.1);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	
	text-decoration:none;
	color:#212121;/**/
}
#sideLeft .feedMenu:hover {
	/*border:1px solid rgba(0, 0, 0, 0.05);*/
	-webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    2px 2px 8px 1px rgba(0, 0, 0, 0.1);  /* Firefox 3.5 - 3.6 */
	box-shadow:         2px 2px 8px 1px rgba(0, 0, 0, 0.1);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	
	text-decoration:none;
	color:#212121;/**/
}
#sideLeft .feedMenu:focus {
	border:none;
	-webkit-box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 4px 8px 1px rgba(0, 0, 0, 0.1);  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 4px 8px 1px rgba(0, 0, 0, 0.1);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	
	text-decoration:none;
	color:#212121;/**/
}

#feed .more a {
	display:block;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	
	background-image:url(https://seedproof.com/images/icons/arrow.svg);
    background-size: 30px;
	background-repeat:no-repeat;
	background-position: left center; 
	
	height:30px;
	padding:5px 50px;
	font-size:16px;
}
#feed .nomore {
	
	background-color:#E0E0E0;
	background-image:url(https://seedproof.com/images/icons/check.svg);
    background-size: 30px;
	background-repeat:no-repeat;
	background-position: 15px center; 
	
	height:50px;
	padding:15px 60px;
	font-size:16px;
}
#feed .nomoree {
	position:relative;
	background-color:#E0E0E0; 
	
	height:50px;
	padding:15px 20px;
	font-size:16px;
}
.green_light {
	background-color: #C8E6C9;
}
.red_light {
	background-color: #FFCDD2;
}





.stats div {
	position:relative;
	margin:0;
	display:inline-block;
	font-size:0.7em;
	width:19.8%;
	min-width:92px;
	font-weight:700;
	clear:both;
	height:75px;
}
.stats div span {
	font-weight:300;
}

.downs {
	background-color: #EF9A9A !important;
}
.ups {
	background-color: #A5D6A7 !important;
}

.downs, .ups {
	color:#212121 !important;
}
.caution {
	background-image:url(https://seedproof.com/images/icons/caution.svg);
}
.plus {
	background-image:url(https://seedproof.com/images/icons/plus.svg);
}

.advice {
	background-image:url(https://seedproof.com/images/buttons/message.svg);
}

.caution, .plus, .advice {
	height: 30px;
	line-height: 30px;
	padding-left: 50px;
	
    background-size: 30px;
	background-repeat:no-repeat;
	background-position: left center; 
}
.advice {
	height:auto;
	min-height: 30px;
	line-height: 1.5;
	background-position: left top; 
}


#viewer {
	position:fixed;
	top:0;
	left:0;
	margin:0;
	height:100vh;
	width:100%;
	background-color:#000000;
	background-color: rgba(0,0,0,0.55);
	text-align:center;
	z-index:20000;
}
#viewPort {
	position:absolute;
	width:530px;
	margin:auto;
	background-color:#ffffff;
	background-color: rgba(255,255,255,0.00);
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ///////////////////////// */


.btn-special {
	height:40px;
	border:0;
	border-radius:20px;
	background-color:#FFF;
	line-height:20px;
	padding:10px 20px;
	font-weight:bold;
	outline:0 !important;
}
.btn-special:active, .btn-special:focus {
	border:0;
	background-color:#EEE;
}

.fixUR {
	position:fixed;
	top:0px;
	right:0px;
	z-index:5000;
}

.fixTop {
	position:fixed;
	top:70px;
}
#menuLeft.fixTop {
	width:300px;
}
/* */
#awardMaker {
	background-image:url(https://seedproof.com/images/awards/maker-monthly-top.svg);	
}
#awardMember {
	background-image:url(https://seedproof.com/images/awards/member-weekly-one.svg);	
}
#awardMaker, #awardMember {
    background-size:45px;
	background-repeat:no-repeat;
	background-position: right 10px top 10px; 	
}

#awardMaker h3, #awardMember h3 {
	margin-top:10px;
}

#featuredMakerPic {
	background-image:url(https://seedproof.com/images/members/default_01.png); 	
}
#featuredMemberPic {
	background-image:url(https://seedproof.com/images/members/default_04.png); 	
}
#featuredMaker, #featuredMember {
	height:50px;
	margin-right:50px;
		
	font-size:30px;
	font-weight:300;
	line-height:50px;
	position:relative;
	padding:0;
	
}
#featuredMaker a, #featuredMember a {
	height:50px;
	display:block;
	line-height:50px;
	padding-left:60px;
	
}
#featuredMakerPic, #featuredMemberPic {
	height:50px;
	width:50px;
	position:absolute;
	left:0;
	top:0;
	
	display:inline-block;
    background-size:cover;
	background-repeat:no-repeat;
	background-position: center center; 
	
	font-size:30px;
	font-weight:300;
	line-height:50px;
	border-radius:25px;
	
}
#featuredMaker a, #featuredMember a {
	color:#212121;
	text-decoration:none;
	
}
#featuredMaker a:hover, #featuredMember a:hover {
	color:#212121;
	text-decoration:none;
	
}



/* #############################################

SPROUTS FEATURES                               ####

############################################## */

#featureSproutsMonthly {
	background-image: url(https://cloud.google.com/_static/6476e1724a/images/cloud/cloud-logo.svg);
}
#featureSproutsMonthly {
	padding-top:44px;
	text-align:center;
    background-size:195px;
	background-repeat:no-repeat;
	background-position: center top 10px; 

	
}

#featureSproutsWeekly {
	background-image: url(https://seedproof.com/images/awards/maker-weekly-first.svg);
}
#featureSproutsWeekly {
	padding-top:5px;
	text-align:center;
    background-size:60px;
	background-repeat:no-repeat;
	background-position: left top;
	text-align:right;
	margin-top:-10px;	
}
#featureSproutsWeekly h2 {
    font-size: 2.5em;
    font-weight: 800;
    color: #424242;
}
#featureSproutsWeekly h3 {
    margin-top:0px;
}


/* #############################################

MEMBER STEPS                                ####

############################################## */

.memberBlock {
    padding: 10px 20px;
    border: 1px solid #e8e8e8;
    border-radius: 2.5px;
    text-align: left;
    margin-bottom: 5px;
	background-color:#F5F5F5 !important;
}
#memberSteps {
	position:relative;
	background-color:#F5F5F5 !important;
}

#memberSteps #stepDetail {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	margin:10px -20px 20px -20px;
	padding:10px 20px;
}
#memberSteps h1, #memberSteps h4, #memberSteps h5 {
	color:#212121;
}
#memberSteps .step {
	background-image:url(https://seedproof.com/images/icons/step.png); 	
	color:#f44336;
}
#memberSteps .info {
	background-image:url(https://seedproof.com/images/icons/info.png); 	
	color:#234199;
}
#memberSteps .done {
	background-image:url(https://seedproof.com/images/icons/done.png); 	
	color:#4CAF50;
}
#memberSteps .goal {
	background-image:url(https://seedproof.com/images/icons/goal.svg); 
	color:#212121;
}
#memberSteps .lock {
	background-image:url(https://seedproof.com/images/icons/lock.png); 
	color:#212121;
}
#memberSteps .step, #memberSteps .done, #memberSteps .info, #memberSteps .goal , #memberSteps .lock {
	margin-top:20px;
	padding-left:35px;
	font-size:15px;
	font-weight:700;
	line-height:25px;
	
    background-size:25px;
	background-repeat:no-repeat;
	background-position: left top;
}
#memberSteps p, #memberSteps h6 {
	padding-left:35px;
	color:#607D8B;
}
#memberSteps p {
	font-size:11px;
	font-weight:500;
	line-height:1.1;
}
#memberSteps .check {
	background-image:url(https://seedproof.com/images/icons/check.png); 
}

#memberSteps .xcheck {
	background-image:url(https://seedproof.com/images/icons/close_F44336.png); 
}
#memberSteps .check, #memberSteps .xcheck {
	
	margin-left:35px;
	padding-left:30px;	
	color:#212121;
	
	line-height:17px;
	
    background-size:17px;
	background-repeat:no-repeat;
	background-position: left top;
}

#closeSteps {
	display:block;
	padding:0;
	text-decoration:none;
	position:absolute;
	top:10px;
	right:10px;
	background-color:#F5F5F5;
	border:1px solid #EEE;
	height:28px;
	width:28px;
	background-image:url(https://seedproof.com/images/icons/close_2_F44336.png); 
    background-size:10px;
	background-repeat:no-repeat;
	background-position: center center;
	box-shadow: -1px 1px 24px -4px rgba(0, 0, 0, 0.25);
	border-radius:15px;
}
#closeSteps:hover {
	text-decoration:none;
	box-shadow: -1px 1px 24px -2px rgba(0, 0, 0, 0.25);
}



/* #############################################

STAGES                                      ####

############################################## */
.tracks .step {
	/* background-image:url(https://seedproof.com/images/icons/step.png);  */
	/*  color:#f44336; */
	
	background-image:url(https://seedproof.com/images/icons/step_212121.png); 	
	color:#212121;
}
.tracks .info {
	background-image:url(https://seedproof.com/images/icons/info.png); 	
	color:#234199;
}
.tracks .done {
	background-image:url(https://seedproof.com/images/icons/done.png); 	
	color:#4CAF50;
}
.tracks .goal {
	background-image:url(https://seedproof.com/images/icons/goal.svg); 
	color:#212121;
}
.tracks .lock {
	background-image:url(https://seedproof.com/images/icons/lock.png); 
	color:#212121;
}
.tracks .step, .tracks .done, .tracks .info, .tracks .lock {
	margin-bottom:20px;
	padding-left:35px;
	font-size:15px;
	font-weight:500;
	line-height:25px;
	display:block;
    background-size:25px;
	background-repeat:no-repeat;
	background-position: left top;
}
.tracks .goal {
	background-color: #f5f5f5;
    background-size:40px;
	background-repeat:no-repeat;
	background-position: center center;
}
